<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places I've Been</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using PlacesYouBeen.Models
    <h1>Places You've Been</h1><hr>
    <ul>@foreach (Place place in Model)
      {
        <li>@place.CityName</li>
      }
    </ul>
    <a href="/places/new">Add another city!</a><br>  
  </body>
</html>